<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="login" value="p.dywan97@gmail.com"/>
    <add key="email" value="p.dywan97@gmail.com"/>
    <add key="name" value="Pawl"/>
    <add key="displayName" value="Pawl"/>
    <add key="password" value='password'/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="enableSSL" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="Pawl &lt;p.dywan97@gmail.com&gt;" deliveryMethod="Network">
        <network host="smtp.gmail.com" defaultCredentials="false" userName="p.dywan97@gmail.com" password='password' enableSsl='true' port='587'/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>